.article {
  display: flex;
  margin-top: 2rem;
}

.article .article-point {
  padding: 1rem 3rem;
  border-radius: .3rem;
  background-color: #e9ecef;
  text-align: center;
}

.article .article-point .value {
  font-size: 2.5rem;
}

.article-content a {
  color: #333333;
}

.article-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .5rem 0;
}

.article-content .article-title a {
  font-size: 1.5rem;
}

.article-content .article-title small {
  display: block;
  font-size: .8rem;
}

.article-action .article-action-btn {
  transition: color .3s ease-in-out;
  color: #2ecc71;
  text-decoration: none;
}

.article-action .article-action-btn:hover {
  color: #27ae60;
}

.article-action .article-up-vote {
  margin-right: 15px;
}

@media (min-width: 401px) {
  .article .article-point {
    margin-right: 1rem;
  }
}

@media (max-width: 400px) {
  .article {
    flex-direction: column;
  }

  .article-action {
    margin-top: 1rem;
  }
}
